.modal {
   background-color: var(--modal-bg);
   position: fixed;
   top: 30px;
   left: 30px;
   right: 30px;
   bottom: 30px;
   padding: 20px;
   overflow: auto;
   border-radius: 0.5rem;
   z-index: 1001;

   .content {
      margin-top: 1.25rem;

      .hero {
         width: 100%;
         display: flex;
         gap: 2.5rem;

         .main {
            width: 100%;
         }
      }
   }

   .footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
   }

   @media (min-width: 800px) {
      top: 40px;
      left: 40px;
      right: 40px;
      bottom: 40px;
      padding: 40px;
   }
}
