.section {
   padding: 60px 0;

   &.bg_pop {
      background-color: #222;
   }

   &.h_sm,
   &.t_sm {
      padding-top: 30px;
   }

   &.h_lg,
   &.t_lg {
      padding-top: 90px;
   }

   &.h_sm,
   &.b_sm {
      padding-bottom: 30px;
   }

   &.h_lg,
   &.b_lg {
      padding-bottom: 90px;
   }

   .content {
      max-width: 800px;
      margin: 0 auto;

      &.w_lg {
         max-width: 1200px;
      }

      &.w_sm {
         max-width: 600px;
      }
   }
}
