.section {
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;

   &.bg_pop {
      background-color: #222;
   }
   &.bg_lighter_1 {
      background-color: var(--bg-lighter-1);
   }
   &.bg_lighter_2 {
      background-color: var(--bg-lighter-2);
   }
   &.bg_darker_1 {
      background-color: var(--bg-darker-1);
   }
   &.bg_darker_2 {
      background-color: var(--bg-darker-2);
   }

   &.h_full {
      height: 100vh;
      padding-top: 30vh;
      padding-bottom: 30vh;
   }

   &.h_sm,
   &.t_sm {
      padding-top: 10px;
   }

   &.h_sm,
   &.b_sm {
      padding-bottom: 10px;
   }

   &.h_lg,
   &.t_lg {
      padding-top: 40px;
   }

   &.h_lg,
   &.b_lg {
      padding-bottom: 40px;
   }

   .content {
      max-width: 800px;
      margin: 0 auto;

      &.w_lg {
         max-width: 1200px;
      }

      &.w_sm {
         max-width: 600px;
      }
   }

   @media (min-width: 860px) {
      padding-left: 0;
      padding-right: 0;
      padding-top: 60px;
      padding-bottom: 60px;

      &.h_sm,
      &.t_sm {
         padding-top: 30px;
      }

      &.h_sm,
      &.b_sm {
         padding-bottom: 30px;
      }

      &.h_lg,
      &.t_lg {
         padding-top: 90px;
      }

      &.h_lg,
      &.b_lg {
         padding-bottom: 90px;
      }
   }
}
