.button {
   background-color: var(--button-bg);
   color: var(--button-text);
   font-size: 1rem;
   border: 1px solid var(--button-border);
   border-radius: 5px;
   padding: 10px;
   cursor: pointer;
   transition: all 0.3s;
   height: 100%;
   width: 100%;

   &.bg_gradient {
      background: var(--link-gradient);
   }

   &.inverted {
      background-color: var(--background);
      color: var(--link);
      border-color: var(--background);
   }

   @media (min-width: 800px) {
      width: max-content;

      &:hover {
         background-color: var(--button-hover-bg);
         color: var(--button-hover-text);
      }
   }

   &.selected,
   &.selected:hover {
      background-color: var(--button-selected-bg);
      border-color: var(--button-selected-border);
      color: var(--button-selected-text);
   }

   &.disabled {
      background-color: var(--button-disabled-bg);
      color: var(--button-disabled-text);
      cursor: not-allowed;
   }

   &.clear {
      background-color: var(--button-clear-bg);
      color: var(--button-clear-text);
      border-color: var(--button-clear-border);
      padding: 0;
      width: 100%;

      @media (min-width: 800px) {
         &:hover {
            color: var(--button-clear-hover-text);
         }
      }
   }
}
