.inputWrap {
   display: flex;
   align-items: center;
   gap: 12px;

   .label {
      flex-basis: 50px;
      white-space: nowrap;
   }

   .input {
      height: 30px;
      flex-basis: 300px;
      padding: 6px;
      background-color: var(--input-bg);
      border: 1px solid var(--border);
      border-radius: 3px;

      &::placeholder {
         color: var(--input-placeholder);
      }
   }
}
