.wrap {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 12px;

   .input {
      padding: 10px;
      line-height: 1.5rem;
      background-color: var(--input-bg);
      border: 1px solid var(--border);
      border-radius: 4px;

      &::placeholder {
         color: var(--input-placeholder);
      }
   }
}
