.inputWrap {
   display: flex;
   align-items: flex-start;
   gap: 6px;
   flex-direction: column;

   .label {
      white-space: nowrap;
   }

   .input {
      padding: 6px;
      background-color: var(--input-bg);
      border: 1px solid var(--border);
      border-radius: 3px;

      &::placeholder {
         color: var(--input-placeholder);
      }
   }

   @media (max-width: 799px) {
      .input {
         width: 100%;
      }
   }

   @media (min-width: 800px) {
      align-items: center;
      gap: 12px;
      flex-direction: row;

      .label {
         flex-basis: 50px;
      }

      .input {
         height: 30px;
         flex-basis: 300px;
      }
   }
}
