.wrap {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 12px;
   /* padding-left: 24px; */

   .input {
      padding: 10px;

      &::placeholder {
         color: color-mix(in oklab, var(--space-gray) 50%, white);
      }
   }
}
