.list {
   margin-left: 24px;
}

.item {
   margin-bottom: 8px;
   line-height: 20px;
}

.b_no {
   margin-bottom: 0px;
}
.b_sm {
   margin-bottom: 4px;
}
.b_md {
   margin-bottom: 20px;
}
.b_lg {
   margin-bottom: 40px;
}
