.text {
   font-size: 1rem;
   line-height: 20px;

   &.subtle {
      color: var(--text-subtle);
   }

   &.inverted {
      color: var(--background);
   }
}

.t_no {
   margin-top: 0px;
}
.b_no {
   margin-bottom: 0px;
}
.t_sm {
   margin-top: 4px;
}
.b_sm {
   margin-bottom: 4px;
}
.t_md {
   margin-top: 20px;
}
.b_md {
   margin-bottom: 20px;
}
.t_lg {
   margin-top: 40px;
}
.b_lg {
   margin-bottom: 40px;
}
