:root {
   --space-gray: #252b37;
   --white: #ededed;

   --gray-2: #404350;
   --gray-blue: #7390aa;
   --gray-purple: #868cad;

   --purple: #a6accd;
   --purple-2: #818cc4;

   --mint: #5de4c7;
   --mint-2: #5fb3a1;

   --lime: #5de484;

   --pink: #f087bd;
   --pink-2: #d0679d;
   --pink-3: #e45ebe;

   --red: #e45e91;

   --blue: #add7ff;
   --blue-2: #5e7be4;
   --blue-3: #5ebee4;

   --yellow: #e4c75e;
   --yellow-2: #fffac2;

   --orange: #e4845e;

   --background: #ffffff;
   --foreground: #171717;
}

/* theme colors */
/* theme colors */
/* theme colors */
/* theme colors */
/* theme colors */
/* theme colors */
/* theme colors */
.theme-storm {
   --background: var(--space-gray);
   --foreground: color-mix(in oklab, var(--background) 15%, white);

   --main: var(--blue);
   --yes: var(--lime);
   --no: var(--pink);
   --maybe: var(--yellow);

   --link: var(--mint);

   --link-hover: color-mix(in oklab, var(--link) 80%, white);
   --link-hover-brighter: color-mix(in oklab, var(--link) 60%, white);

   --text-subtle: color-mix(in oklab, var(--background) 50%, white);
   --text-selected: color-mix(in oklab, var(--yes) 50%, black);

   --border: var(--main);
   --border-selected: var(--yes);
   --border-subtle: color-mix(in oklab, var(--background) 90%, white);

   --nav-bg: var(--background);
   --nav-text: var(--link);
   --nav-hover-text: var(--link-hover-brighter);

   --icon: var(--main);
   --icon-selected: var(--yes);

   --clickable-div-bg: var(--background);
   --clickable-div-hover-bg: var(--main);
   --clickable-div-hover-text: color-mix(
      in oklab,
      var(--clickable-div-hover-bg) 50%,
      black
   );
   --clickable-div-selected-bg: var(--yes);
   --clickable-div-selected-text: var(--text-selected);

   --pro-text: var(--yes);
   --pro-head: color-mix(in oklab, var(--pro-text) 60%, black);
   --con-text: var(--no);
   --con-head: color-mix(in oklab, var(--con-text) 60%, black);

   --button-bg: color-mix(in oklab, var(--link) 80%, black);
   --button-text: color-mix(in oklab, var(--link) 20%, black);
   --button-border: color-mix(in oklab, var(--link) 20%, black);
   --button-hover-bg: var(--link-hover);
   --button-hover-text: color-mix(in oklab, var(--link) 40%, black);
   --button-selected-bg: var(--yes);
   --button-selected-border: var(--yes);
   --button-selected-text: var(--text-selected);
   --button-disabled-bg: color-mix(in oklab, var(--background) 60%, white);
   --button-disabled-text: var(--background);
   --button-clear-bg: transparent;
   --button-clear-text: var(--link);
   --button-clear-hover-text: var(--link-hover-brighter);
   --button-clear-border: transparent;

   --input-bg: color-mix(in oklab, var(--background) 99%, black);
   --input-placeholder: color-mix(in oklab, var(--background) 30%, white);

   --toggle-switch-bg: var(--main);
   --toggle-checked-bg: var(--main);
   --toggle-checked-switch-bg: color-mix(in oklab, var(--main) 50%, black);

   --modal-bg: color-mix(in oklab, var(--background) 98%, white);

   --tracker-step-text: color-mix(in oklab, var(--background) 40%, white);
   --tracker-step-icon: var(--tracker-step-text);
   --tracker-choice-text: color-mix(in oklab, var(--yes) 40%, white);
   --tracker-choice-icon: var(--text-subtle);
   --tracker-active-step-icon: var(--main);
   --tracker-active-step-text: var(--main);
   --tracker-active-choice-text: color-mix(in oklab, var(--main) 40%, white);
   --tracker-step-completed-icon: var(--yes);
   --tracker-hover-text: var(--maybe);
   --tracker-mobile-bg: color-mix(in oklab, var(--background) 90%, white);

   --shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3), 0px 5px 8px 0px rgba(0, 0, 0, 0.28),
      0px 1px 14px 0px rgba(0, 0, 0, 0.24);
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
}

body {
   color: var(--foreground);
   background: var(--background);
   font-family: Arial, Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body:has(.overlay) {
   overflow: hidden;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

a {
   color: var(--link);
   text-decoration: none;

   @media (min-width: 800px) {
      transition: color 300ms;
      &:hover {
         color: var(--link-hover-brighter);
      }
   }
}

main {
   padding-top: 50.5px;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: var(--space-gray);
      --foreground: var(--white);
   }

   html {
      color-scheme: dark;
   }
}

:has(.hasOverlay) {
   overflow: hidden;
}

/* animation */
/* animation */
/* animation */
/* animation */
/* animation */
/* animation */
/* animation */
/* animation */

.willAppearFromRight {
   transform: translateX(100vw);
}
@keyframes slideLeftShow {
   from {
      opacity: 0;
   }
   to {
      transform: translateX(0);
      opacity: 1;
   }
}
@keyframes slideRightHide {
   from {
      transform: translateX(0);
      opacity: 1;
   }
   to {
      transform: translateX(100vw);
      opacity: 0;
   }
}
.slideLeftShow {
   animation: slideLeftShow 150ms ease-out forwards;
}
.slideRightHide {
   animation: slideRightHide 150ms ease-out forwards;
}

.willAppearFromBottom {
   transform: translateY(100vh);
}
@keyframes slideUpShow {
   from {
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}
@keyframes slideDownHide {
   from {
      transform: translateY(0);
      opacity: 1;
   }
   to {
      transform: translateY(100vh);
      opacity: 0;
   }
}
.slideUpShow {
   animation: slideUpShow 150ms ease-out forwards;
}
.slideDownHide {
   animation: slideDownHide 150ms ease-out forwards;
}
