.collapsible {
   border: 1px solid var(--border);
   border-radius: 4px;
   margin-bottom: 16px;
   cursor: pointer;

   .title {
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .iconWrap {
         width: 35px;
         height: 35px;
         color: var(--icon);
         transform: rotate(90deg);
         transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      }
   }

   .content {
      max-height: 0;
      padding: 0 30px;
      overflow: hidden;
      transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
         padding-top 0.5s cubic-bezier(0.4, 0, 0.2, 1),
         padding-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1);
   }

   &.open {
      .content {
         max-height: 750px;
         padding: 12px 30px;
         border-top: 1px solid var(--border-subtle);
         transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
            padding-top 0.5s cubic-bezier(0.4, 0, 0.2, 1),
            padding-bottom 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      }

      .iconWrap {
         transform: rotate(-90deg);
      }
   }
}
