.card {
   border: 2px solid color-mix(in oklab, var(--border) 60%, black);
   border-radius: 8px;
   background-color: color-mix(in oklab, var(--background) 98%, black);

   &.shadow {
      box-shadow: var(--shadow);
   }

   .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
      border-bottom: 1px solid color-mix(in oklab, var(--border) 60%, black);

      /* .iconWrap {
         height: 40px;
         width: 40px;
      } */

      .textWrap {
         flex: 1;
         padding: 0 10px;
         display: flex;
         flex-direction: column;
         gap: 6px;
      }
   }

   .content {
      padding: 12px 24px 24px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 24px;

      ul {
         padding-left: 24px;
      }
   }
}
