.mobileNav {
   position: fixed;
   top: 10px;
   right: 10px;
   z-index: 1000;

   .buttonWrap {
      position: relative;

      button {
         height: 30px;
         width: 30px;
      }
   }
}

@media (min-width: 768px) {
   .mobileNav {
      display: none;
   }
}
