.mobileNav {
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1000;
   left: 0;
   display: flex;
   justify-content: flex-end;
   padding: 5px;
   background: var(--nav-bg);
   border-bottom: 1px solid var(--border-subtle);

   .buttonWrap {
      height: 30px;
      width: 30px;
   }
}

@media (min-width: 768px) {
   .mobileNav {
      display: none;
   }
}
