.choice {
   padding: 10px;
   margin: 10px;
   border: 1px solid var(--border);
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s;

   &:hover {
      background-color: var(--clickable-div-hover-bg);
      color: color-mix(in oklab, var(--clickable-div-hover-text) 50%, black);
   }

   &.selected,
   &.selected:hover {
      background-color: var(--clickable-div-selected-bg);
      border-color: var(--border-selected);
      color: var(--clickable-div-selected-text);
   }

   .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .iconWrap {
         height: 40px;
         width: 40px;
      }

      .textWrap {
         flex: 1;
         padding: 0 10px;
         display: flex;
         flex-direction: column;
         gap: 6px;
      }
   }
}
