.choice {
   padding: 10px;
   margin: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s;

   &:hover {
      background-color: #aaa;
      color: #333;
   }

   &.selected,
   &.selected:hover {
      background-color: green;
      border-color: green;
      color: #fff;
   }

   .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .iconWrap {
         height: 40px;
         width: 40px;
      }

      .textWrap {
         flex: 1;
         padding: 0 10px;
         /* style={{ marginLeft: '10px', width: 'calc(100% - 50px)' }} */
      }
   }
}
