.help {
   color: var(--text-subtle);
   font-size: 0.9em;
   margin: 20px;
   transition: all 0.3s;

   .moreInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .iconWrap {
         height: 30px;
         width: 30px;
      }

      .textWrap {
         flex: 1;
         padding: 0 10px;
      }
   }

   .prosCons {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-left: 48px;

      .head {
         font-size: 1.2em;
         margin-bottom: 6px;
      }

      .pros,
      .cons {
         .ul {
            padding-left: 18px;
         }
      }

      .pros {
         .head {
            color: color-mix(in oklab, var(--pro-text) 80%, black);
         }
      }

      .cons {
         .head {
            color: color-mix(in oklab, var(--con-text) 90%, black);
         }
      }
   }

   &.hovered {
      color: var(--clickable-div-hover-text);

      .pros {
         .head {
            color: var(--pro-head);
         }
      }

      .cons {
         .head {
            color: var(--con-head);
         }
      }
   }

   &.selected {
      color: var(--clickable-div-selected-text);

      .pros,
      .cons {
         .head {
            color: var(--clickable-div-selected-text);
         }
      }
   }
}
