.stepTracker {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 20px;

   .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      cursor: pointer;

      .stepContent {
         display: flex;
         align-items: center;

         .stepIcon {
            width: 35px;
            height: 35px;
            background-color: var(--background);
            color: color-mix(in oklab, var(--space-gray) 50%, white);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            margin-right: 10px;

            &.active {
               color: var(--blue);
            }

            &.completed {
               color: var(--lime);
            }
         }

         .stepTextWrap {
            * {
               transition: color 0.3s;
            }

            .stepText {
               color: color-mix(in oklab, var(--space-gray) 50%, white);
               font-size: 16px;

               &.activeStepText {
                  color: var(--blue);
               }
            }

            .stepChoice {
               display: flex;
               align-items: center;
               color: color-mix(in oklab, var(--lime) 40%, white);

               .stepChoiceIcon {
                  color: color-mix(in oklab, var(--space-gray) 50%, white);
                  width: 24px;
                  height: 24px;
                  margin-left: 4px;
               }

               &.activeStepChoice {
                  color: color-mix(in oklab, var(--blue) 40%, white);
               }
            }

            &:hover {
               * {
                  color: var(--yellow);
               }
            }
         }
      }

      .stepLine {
         width: 2px;
         height: 60px;
         position: absolute;
         top: 32px;
         left: 16px;
         background-image: linear-gradient(
            to bottom,
            #aaa 50%,
            rgba(255, 255, 255, 0) 0%
         );
         background-size: 2px 10px;
         background-repeat: repeat-y;
      }

      &.disabled {
         cursor: not-allowed;

         .stepTextWrap:hover {
            * {
               color: color-mix(in oklab, var(--space-gray) 50%, white);
            }
         }
      }
   }
}
