.steps {
   display: flex;
   gap: 20px;
   flex-direction: column;

   .step {
      width: 100%;
      order: 2;
   }

   .trackerWrap {
      order: 1;
      padding-top: 30px;
      padding-bottom: 20px;
   }

   @media (min-width: 640px) {
      flex-direction: row;
      gap: 60px;

      .step {
         width: 550px;
         order: 1;
      }

      .trackerWrap {
         order: 2;
         padding: 0;
         max-width: 180px;
      }
   }
}
