.thanks {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   padding: 20px;

   /* .iconWrap {
      width: 100px;
      height: 100px;
      color: var(--green);
   } */

   .content {
      margin-bottom: 30px;
   }

   .buttons {
      display: flex;
      gap: 20px;
   }

   .links {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .clearLink {
         width: max-content;
      }
   }
}
